*{
    margin: 0px;
    padding: 0px;
    font-family: 'Helvetica Now', sans-serif;
}

.spacing_top{
    margin-top: 75px;   
}

.slider-image {
  max-height: 100%; /* Limita la altura de las imágenes al 100% del contenedor */
  object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin distorsionarla */
}

/* Estilos para el overlay oscuro */
.slider-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Opacidad del overlay */
}

/* Estilos adicionales para el slider */
.carousel {
  width: 100%; /* Hace que el slider sea de ancho completo */
}

.custom-link-button a:not(.btn) {
    color: inherit; /* o el color que desees */
    text-decoration: none;
  }

@font-face {
    font-family: 'Helvetica Now';
    src: url('../fonts/helvetica/HelveticaNowText-Regular.woff2') format('woff2'),
         url('../fonts/helvetica/HelveticaNowText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Helvetica Now', sans-serif;
}

.cajaComentarios{
  width: 40%;
  height: 50%;
  margin: auto;
}
